.header-bg {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  background-color:rgba(108, 117, 125, 0.5);
}
.cap1-img {
  width: 150px;
  place-content: stretch flex-start;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin: 1em;
}
