
<footer class="card-footer fixed-bottom footer-bg">
  <div class="row">
    <span class="col-sm-5" ><img src="./assets/images/C1_Core_NG_rev_RGB_R.png" alt="CapitalOne" style="width: 130px;" /></span>
    <span class="col-sm-2 cap1-text"><p class=""><a href="https://pulse.kdc.capitalone.com/welcome"
                                                    style="color: #f8f9fa;"> CapitalOne &copy; {{ today | date: 'yyyy' }}.</a>&nbsp;&nbsp; </p></span>
    <span class="col-sm-5"><img src="./assets/images/fs-data.jpg" alt="Financial Service"
                                style="width: 120px;float: right;"/></span>
</div>
</footer>
