/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';


body {
	background-color: #FFF;
  padding: 2em;
  font-size: 0.9em !important;
}
