.container {
  display: grid;
  grid-template-columns: 100% auto;
}

.icon-style {
  font-size: 1em;
  color: White;
  background: orange;
}

.col {
  padding: .5em .5em;
  color: #000;
  h5 {
    font-weight: 500;
  }
}

.bg-dropdown {
  background-color: #FFF;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}

.color-light {
  background: #57B3F1;
}

.deadline-content {
  margin-top: 3.5em;
  color: #08090d;
  display: inline-block;
  float: right;
}

.employee-role {
  margin-top: 7em;
  margin-bottom: 2em;
}

span.fa-stack.fa-1x {
  position: relative;
  display: inline-block;
  width: 2.7em;
  height: 2.0em;
  line-height: 2.8em;
  vertical-align: middle;
  cursor: pointer;
}

.btn-width-15 {
  width: 15em;
}

.with-comment {
  font-size: 40px;
  color: #ffbf00;
  cursor: pointer;
}

.no-comment {
  font-size: 40px;
  color: #00c851;
  cursor: pointer;
}

select {
  margin: 10px;
  line-height: 75px;
}

input.txt {
  border: 0;
  padding: 1em 2em;
  width: 70%;
  margin-bottom: 2em;
}

input.add-btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: #A5F883;
  color: #003A61;
  margin-bottom: 2em;
  cursor: pointer;
}

.test-container {
  background: #3FA0E1;
  padding: .5em;
  cursor: pointer;
}

.my-class {
  color: #fff;

}

.table-width {
  width: 15em;
}

.input-group {
  width: 15em;
  height: 2.9em;
  margin-top: 5px;
  margin-left: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}


th, td {
  text-align: left;
  padding: 8px;
}

td.highlight-content:hover {
  font-size: 1.2em;
  background-color: Yellow;
}

.link-style {
  color: #007bff;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th, .table td {
  text-align: left;
  padding: 0.50em;
  border-bottom: 1px solid #DDD;
}

.table tr {
  border-bottom: 1px solid #DDD;
}

.center-text {
  text-align: center !important;
}

button {
  border-radius: 2px;
  border: none;
  transition: all 0.3s;
  color: #ffffff;
}

button:hover {
  box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
  opacity: 0.9;
}


.icon-size {
  font-size: 2.5rem;
  color: #fd7e14;
}

.progress-text {
  margin: 1em;
}

.progress-content {
  margin: 4em;
}

.btn-position {
  float: right;
  margin-top: 20px;
  margin-bottom: 150px !important;
}

.btn-secondary {
  background-color: #6c757d !important;
}

.btn-right {
  float: right;
}

.thead-bg {
  background-color: #6c757d;
  color: #f8f9fa;
}

.table-row-red {
  background-color: #dc3545c7 !important;
  font-weight: bold;
}

.table-row-pink {
  background-color: #dc35457a !important;
}

