<!-- <p>
  home works!
</p> -->

<div class="container color-dark">
	<div class="col">
		<p>Add a bucket list item.</p>
	</div>
	
	<div class="col">
		<p>your bucket list ({{ itemCount }})</p>
	</div>
	
</div>

<div class="container color-light" [@goals]="goals.length">
	<div class="col">
		<p class="sm">Please use this form to add new bucket here!</p>
		
		<form>
			<input type="text" class="txt" name="name" placeholder="please type here..." [(ngModel)]="goalText"/>
			<!-- <br><span> {{ goalText }}</span> -->
			<input type="submit" class="add-btn" [value]="addBtnText" (click)="addItem()" />
			<!-- <input type="submit" class="del-btn" [value]="deleteBtnText" (click)="deleteItem()" /> -->
		</form>
	
	</div>
	
	<div class="col">
		<p class="test-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)"> {{ goal }} </p>
	</div>
		
</div>